.partie1{
    padding: 10px;
position: absolute;
background:white  ; 
margin-left: 550px;
line-height: normal;
top: 0%;
}
/*.partie2{
 img{
     width: 1000px;
height: 400px;
 }
// background: url( ../../../../assets/images/recherche/Capture-vtc.PNG) no-repeat center center/cover;
  //  width: 1000px;
//height: 400px;

}*/

.section1{
   width: 500px;
   height: 500px;
   position: left;
}
.partie2{
    padding: 0px;
}
.kl{
    margin-left: 50px;
    img{
        width: 900px;
   height: 200px;}
}
.pp1{
    position: relative;
    width: 600px;
    //height: 1px;
    padding: 0px;
    top:0% ;

}
.pp2{
    margin-left: 500px;
    background: white;
    height: none;
}