
.disabled-tab {
  pointer-events:none;
  cursor: default
}
.input-group-addon {
  min-width:10%; // You can adapt this

  text-align:center;
}

.rld-single-input.ship-icon:before {
  content: '\f21a';
  font-size: 5px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.ship-icon input {
  padding-left: 50px;
}

.rld-single-input.plane-icon:before {
  content: '\f072';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.plane-icon input {
  padding-left: 50px;
}

.rld-single-input.car-icon:before {
  content: '\f1b9';
  font-size: 18px;
  font-family: fontawesome;
  color: #70499c;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.car-icon input {
  padding-left: 50px;
}

.rld-single-input.marker-icon:before {
  content: '\f279';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.marker-icon input {
  padding-left: 50px;
}


.rld-single-input.bus-icon:before {
  content: '\f207';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.bus-icon input {
  padding-left: 50px;
}




.rld-single-input.train-icon:before {
  content: '\f238';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.train-icon input {
  padding-left: 50px;
}


.rld-single-input.home-icon:before {
  content: '\f015';
  font-size: 18px;
  font-family: fontawesome;
  color: #170d22;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.home-icon input {
  padding-left: 50px;
}

.rld-single-input.flag-icon:before {
  content: '\f024';
  font-size: 18px;
  font-family: fontawesome;
  color: #6d2b39;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.flag-icon input {
  padding-left: 50px;
}


.rld-single-input.person-icon:before {
  content: '\f0c0';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.person-icon input {
  padding-left: 50px;
}


.rld-single-input.calendar-icon:before {
  content: '\f133';
  font-size: 18px;
  font-family: fontawesome;
  color: #8d718500;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.calendar-icon input {
  padding-left: 50px;
}


.card {
  border: 0em;
}

.radio-inline {
  margin-left: 20px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.partie1 {
  
width: 720px;
float: left;
//background-color: #DFF2FF;


}
.section1{
width: 1200px;
background-color: #DFF2FF;
display: inline-block;
}
.partie2 {
  margin-left: 680px;
  width: 1000px;
 
//  background-color:#DFF2FF;
  height: 900px;
}
.partie3 {
  img{
    width: 600px; 
    height: 700px;

  }
  padding: 60px;
  margin-left:00px;
  width: 650px;
 margin-top: 10px;
 
  
  //height: 700px;
}

.test {
  padding: 20px ;
  background-color: #DFF2FF;
}
.img {
  width: 50px;
  height:25px;
}
.pp1 {
  padding: 20px;
    border-width:10px;
    border-style:dotted;
    border-color:#FF8B00;
    background-color:#FF8B00;
    
}


.example {
  img {
    border-radius: 50%;
  width:100px;
  height:100px;
}
  padding-left:10px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
}
.center {
  display: flex;
  justify-content: center;
}
.hh4 {
  color: rgb(80, 77, 77);
  size : 10px ;
}
