.partie1{

background:white  ; 
}
/*.partie2{
 img{
     width: 1000px;
height: 400px;
 }
// background: url( ../../../../assets/images/recherche/Capture-vtc.PNG) no-repeat center center/cover;
  //  width: 1000px;
//height: 400px;

}*/

.section1{
   // padding: 10px;
}
.partie2{
    padding: 0px;
}
.kl{
    margin-left: 50px;
    img{
        width: 900px;
   height: 200px;}
}
.pp1{
    width: 500px;
}
.pp2{
    margin-left: 500px;
    background: white;
}